{% extends "nav.html" %}

{% block content %}
<h1 class="large centeralign">Reset Password</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.pass1.label }}<br>
    {{ form.pass1(size=32) }}
<p>    
    {% for error in form.pass1.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</p>
    {{ form.pass2.label }}<br>
    {{ form.pass2(size=32) }}
<p>
    {% for error in form.pass2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}